<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html xmlns:mx="urn:mx-scripts">
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Type" content="text/HTML; charset=utf-8">
    <title>mx.layouts.AnchorLayout 类</title>
    <link rel="stylesheet" href="../../../css/common.css"><script src="../../../scripts/jquery.js"></script><script src="../../../scripts/jquery.chili.js"></script><script>
                    ChiliBook.recipeFolder = "../../../scripts/";
                    ChiliBook.automatic = true;
                </script><script src="../../../scripts/class.js"></script></head>
  <body>
    <div id="frame" class="class">
      <div id="head">
        <div id="links"><a id="openInNewWindow" href="javascript:window.open(window.location);">在新窗口中打开</a><a id="hideOverrides" action="hide" href="javascript:;">隐藏基类成员</a></div><a id="namespace" href="../../../html/mx/layouts/index.html">mx.layouts</a><h1 id="class">AnchorLayout 类
                        </h1>
      </div>
      <div id="body">
        <div id="classDetail">
          <table id="summaryTable">
            <tr>
              <td>全称</td>
              <td>mx.layouts.AnchorLayout</td>
            </tr>
            <tr>
              <td>命名空间</td>
              <td><a href="../../../html/mx/layouts/index.html">mx.layouts</a></td>
            </tr>
            <tr>
              <td>类</td>
              <td>AnchorLayout</td>
            </tr>
            <tr>
              <td>继承层次结构</td>
              <td><span>AnchorLayout</span><span id="inherit"></span><a href="../../../html/mx/layouts/AbstractLayout.html">AbstractLayout</a></td>
            </tr>
            <tr>
              <td>源文件</td>
              <td>~\mx\scripts\layouts\AnchorLayout.js</td>
            </tr>
          </table>
          <div class="summary">锚定式布局控件。

使用示例请参考 <a href="../../../html/mx/layouts/LayoutFactoryClass.html#createLayout">LayoutFactoryClass.createLayout</a>。</div>
        </div>
        <hr>
        <div id="constructorsIndex" class="indexSection">
          <h2>构造函数</h2>
          <table>
            <thead>
              <tr>
                <td>名称</td>
                <td>说明</td>
              </tr>
            </thead>
            <tbody>
              <tr class="method">
                <td><a href="#AnchorLayout">AnchorLayout()
    </a></td>
                <td>构建 AnchorLayout 类的新实例。</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="methodsIndex" class="indexSection">
          <h2>初始化函数</h2>
          <table>
            <thead>
              <tr>
                <td>名称</td>
                <td>说明</td>
              </tr>
            </thead>
            <tbody>
              <tr class="method" override="true">
                <td><a href="#init">init()
    </a></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="methodsIndex" class="indexSection">
          <h2>方法</h2>
          <table>
            <thead>
              <tr>
                <td>名称</td>
                <td>说明</td>
              </tr>
            </thead>
            <tbody>
              <tr class="method">
                <td><a href="#calculateAnchors">calculateAnchors()
    </a></td>
                <td>计算锚定布局</td>
              </tr>
              <tr class="method" override="true">
                <td><a href="#_init">_init()
    </a></td>
                <td>受保护的。</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="fieldsIndex" class="indexSection">
          <h2>字段</h2>
          <table>
            <thead>
              <tr>
                <td>名称</td>
                <td>说明</td>
              </tr>
            </thead>
            <tbody>
              <tr class="field" override="true">
                <td><a href="#owner">owner</a></td>
                <td>设置和获取一个容器实例，表示布局控件所作用的容器。</td>
              </tr>
              <tr class="field" override="true">
                <td><a href="#type">type</a></td>
                <td>设置和获取布局控件的类型。</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <div id="constructor" class="detailSection">
          <h2>构造函数详细信息</h2><a name="AnchorLayout"></a><div id="method" class="detail">
            <h3>AnchorLayout()
     方法
            </h3>
            <div class="content">
              <div class="summary">构建 AnchorLayout 类的新实例。</div>
            </div>
            <hr>
          </div>
        </div>
        <div id="initializer" class="detailSection">
          <h2>初始化函数详细信息</h2><a name="init"></a><div id="method" class="detail" override="true">
            <h3>init()
     方法
            </h3>
            <div class="content">
              <div class="summary"></div>
              <h4>继承自</h4>
              <div class="h4Content"><a href="../../../html/mx/layouts/AbstractLayout.html#init">mx.layouts.AbstractLayout.init</a></div>
            </div>
            <hr>
          </div>
        </div>
        <div id="method" class="detailSection">
          <h2>方法详细信息</h2><a name="calculateAnchors"></a><div id="method" class="detail">
            <h3>calculateAnchors()
     方法
            </h3>
            <div class="content">
              <div class="summary">计算锚定布局</div>
            </div>
            <hr>
          </div><a name="_init"></a><div id="method" class="detail" override="true">
            <h3>_init()
     方法
            </h3>
            <div class="content">
              <div class="summary">受保护的。</div>
              <h4>继承自</h4>
              <div class="h4Content"><a href="../../../html/mx/layouts/AbstractLayout.html#_init">mx.layouts.AbstractLayout._init</a></div>
            </div>
            <hr>
          </div>
        </div>
        <div id="field" class="detailSection">
          <h2>字段详细信息</h2><a name="owner"></a><div id="field" class="detail" override="true">
            <h3>owner 字段
            </h3>
            <div class="content">
              <div class="summary">设置和获取一个容器实例，表示布局控件所作用的容器。</div>
              <h4>继承自</h4>
              <div class="h4Content"><a href="../../../html/mx/layouts/AbstractLayout.html#owner">mx.layouts.AbstractLayout.owner</a></div>
            </div>
            <hr>
          </div><a name="type"></a><div id="field" class="detail" override="true">
            <h3>type 字段
            </h3>
            <div class="content">
              <div class="summary">设置和获取布局控件的类型。</div>
              <h4>继承自</h4>
              <div class="h4Content"><a href="../../../html/mx/layouts/AbstractLayout.html#type">mx.layouts.AbstractLayout.type</a></div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>