<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Type" content="text/HTML; charset=utf-8">
    <title>mx.layouts 命名空间</title>
    <link rel="stylesheet" href="../../../css/common.css">
  </head>
  <body>
    <div id="frame" class="namespace">
      <div id="head">
        <h1 id="namespace">mx.layouts 命名空间
                        </h1>
      </div>
      <div id="body">
        <div id="namespaceDetail">
          <table id="summaryTable">
            <tr>
              <td>全称</td>
              <td>mx.layouts</td>
            </tr>
          </table>
          <div class="summary">提供对 <a href="../../../html/mx/containers/Container.html">Container</a> 进行逻辑布局的类。</div>
        </div>
        <hr>
        <div id="classesIndex" class="indexSection">
          <h2>类</h2>
          <table>
            <thead>
              <tr>
                <td>名称</td>
                <td>说明</td>
              </tr>
            </thead>
            <tbody>
              <tr class="class">
                <td><a href="AbsoluteLayout.html">AbsoluteLayout</a></td>
                <td></td>
              </tr>
              <tr class="class">
                <td><a href="AbstractLayout.html">AbstractLayout</a></td>
                <td>所有布局控件的抽象基类。</td>
              </tr>
              <tr class="class">
                <td><a href="AnchorLayout.html">AnchorLayout</a></td>
                <td>锚定式布局控件。

使用示例请参考 <a href="../../../html/mx/layouts/LayoutFactoryClass.html#createLayout">LayoutFactoryClass.createLayout</a>。</td>
              </tr>
              <tr class="class">
                <td><a href="LayoutFactoryClass.html">LayoutFactoryClass</a></td>
                <td>提供布局器工厂类。该类在运行时唯一静态实例是 <b>mx.layouts.LayoutFactory</b> 对象。详见 <a href="../../../html/mx/layouts/LayoutFactoryClass.html#createLayout">LayoutFactoryClass.createLayout</a> 方法示例。</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>