<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Type" content="text/HTML; charset=utf-8">
    <title>mx.views 命名空间</title>
    <link rel="stylesheet" href="../../../css/common.css">
  </head>
  <body>
    <div id="frame" class="namespace">
      <div id="head">
        <h1 id="namespace">mx.views 命名空间
                        </h1>
      </div>
      <div id="body">
        <div id="namespaceDetail">
          <table id="summaryTable">
            <tr>
              <td>全称</td>
              <td>mx.views</td>
            </tr>
          </table>
          <div class="summary">提供一个管理一组控件、控件布局、数据、数据绑定的类。视图对应展现框架 MVC 模型中的 view。视图也是一个容器，它继承于
<a href="../../../html/mx/containers/Container.html">Container</a>。</div>
        </div>
        <hr>
        <div id="classesIndex" class="indexSection">
          <h2>类</h2>
          <table>
            <thead>
              <tr>
                <td>名称</td>
                <td>说明</td>
              </tr>
            </thead>
            <tbody>
              <tr class="class">
                <td><a href="View.html">View</a></td>
                <td>提供一个管理一组控件、控件布局、数据、数据绑定的类。视图对应展现框架 MVC 模型中的 view。视图也是一个容器，它继承于
<a href="../../../html/mx/containers/Container.html">Container</a>。</td>
              </tr>
              <tr class="class">
                <td><a href="ViewController.html">ViewController</a></td>
                <td>提供一个视图控制器的类。</td>
              </tr>
              <tr class="class">
                <td><a href="ViewPort.html">ViewPort</a></td>
                <td>提供一个容器，包含有视图与视图控制器。
该类的派生类有 <a href="../../../html/mx/weblets/WebletContainer.html">WebletContainer</a>,
          <a href="../../../html/mx/windows/Window.html">Window</a>。</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>