<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html xmlns:mx="urn:mx-scripts">
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Type" content="text/HTML; charset=utf-8">
    <title>mx.views.ViewController 类</title>
    <link rel="stylesheet" href="../../../css/common.css"><script src="../../../scripts/jquery.js"></script><script src="../../../scripts/jquery.chili.js"></script><script>
                    ChiliBook.recipeFolder = "../../../scripts/";
                    ChiliBook.automatic = true;
                </script><script src="../../../scripts/class.js"></script></head>
  <body>
    <div id="frame" class="class">
      <div id="head">
        <div id="links"><a id="openInNewWindow" href="javascript:window.open(window.location);">在新窗口中打开</a><a id="hideOverrides" action="hide" href="javascript:;">隐藏基类成员</a></div><a id="namespace" href="../../../html/mx/views/index.html">mx.views</a><h1 id="class">ViewController 类
                        </h1>
      </div>
      <div id="body">
        <div id="classDetail">
          <table id="summaryTable">
            <tr>
              <td>全称</td>
              <td>mx.views.ViewController</td>
            </tr>
            <tr>
              <td>命名空间</td>
              <td><a href="../../../html/mx/views/index.html">mx.views</a></td>
            </tr>
            <tr>
              <td>类</td>
              <td>ViewController</td>
            </tr>
            <tr>
              <td>继承层次结构</td>
              <td><span>ViewController</span></td>
            </tr>
            <tr>
              <td>源文件</td>
              <td>~\mx\scripts\views\ViewController.js</td>
            </tr>
          </table>
          <div class="summary">提供一个视图控制器的类。</div>
        </div>
        <hr>
        <div id="constructorsIndex" class="indexSection">
          <h2>构造函数</h2>
          <table>
            <thead>
              <tr>
                <td>名称</td>
                <td>说明</td>
              </tr>
            </thead>
            <tbody>
              <tr class="method">
                <td><a href="#ViewController">ViewController()
    </a></td>
                <td>构建 ViewController 类的新实例。</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="methodsIndex" class="indexSection">
          <h2>方法</h2>
          <table>
            <thead>
              <tr>
                <td>名称</td>
                <td>说明</td>
              </tr>
            </thead>
            <tbody>
              <tr class="method">
                <td><a href="#dispose">dispose()
    </a></td>
                <td>释放对象运行时动态生成的内容（属性、方法、事件）。</td>
              </tr>
              <tr class="method">
                <td><a href="#getContext">getContext()
    </a></td>
                <td>详见 <a href="../../../html/mx/controls/Control.html#getContext">Control.getContext</a> 方法。</td>
              </tr>
              <tr class="method">
                <td><a href="#getView">getView()
    </a></td>
                <td>获取视图控制器的视图。若视图为空则即创建视图。</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="fieldsIndex" class="indexSection">
          <h2>字段</h2>
          <table>
            <thead>
              <tr>
                <td>名称</td>
                <td>说明</td>
              </tr>
            </thead>
            <tbody>
              <tr class="field">
                <td><a href="#view">view</a></td>
                <td>获取视图控制器对应的视图，也可使用 <a href="#getView">getView</a> 方法获取。</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <div id="constructor" class="detailSection">
          <h2>构造函数详细信息</h2><a name="ViewController"></a><div id="method" class="detail">
            <h3>ViewController()
     方法
            </h3>
            <div class="content">
              <div class="summary">构建 ViewController 类的新实例。</div>
            </div>
            <hr>
          </div>
        </div>
        <div id="method" class="detailSection">
          <h2>方法详细信息</h2><a name="dispose"></a><div id="method" class="detail">
            <h3>dispose()
     方法
            </h3>
            <div class="content">
              <div class="summary">释放对象运行时动态生成的内容（属性、方法、事件）。</div>
            </div>
            <hr>
          </div><a name="getContext"></a><div id="method" class="detail">
            <h3>getContext()
     方法
            </h3>
            <div class="content">
              <div class="summary">详见 <a href="../../../html/mx/controls/Control.html#getContext">Control.getContext</a> 方法。</div>
            </div>
            <hr>
          </div><a name="getView"></a><div id="method" class="detail">
            <h3>getView()
     方法
            </h3>
            <div class="content">
              <div class="summary">获取视图控制器的视图。若视图为空则即创建视图。</div>
            </div>
            <hr>
          </div>
        </div>
        <div id="field" class="detailSection">
          <h2>字段详细信息</h2><a name="view"></a><div id="field" class="detail">
            <h3>view 字段
            </h3>
            <div class="content">
              <div class="summary">获取视图控制器对应的视图，也可使用 <a href="#getView">getView</a> 方法获取。</div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>